/* Header style */

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 96px 24px 91px;  
}

.header__menu {
  grid-column: 1/6;
  justify-content: start;
}

.header__links-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-underline-offset: 4px;
}

.header__links-list-item:first-child {
  list-style: none;  
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  grid-column: 6/8;
  text-align: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.adress {  
  display: flex;
  flex-direction: column;
  grid-column: 10/13;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 3px;
}
/* Header style end */



/* Cover style */
.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 183px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 164px 50px 136px;
  font-size: 100px;
  line-height: 105%;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  line-height: 120%;
  letter-spacing: 10px;
}

.aligned-text_left .letter-spacing-extended {
  letter-spacing: 28px;
}

.aligned-text_center {
  line-height: 94%;
  text-align: center;
}

.aligned-text_right {
  line-height: 100%;
  text-align: end;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 79px;
  padding-right: 50px;
  line-height: 57%;
  text-transform: uppercase;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  word-spacing: 18px;
}

.bet-button {
  color: #fff;
  border: 1px solid currentColor;
  padding: 0px 32px;
  font-size: 22px;
  line-height: 51px;
  text-decoration: none;
  font-family: inherit;
  text-transform: uppercase;
  background: transparent;
}


/* Cover style end */


/* lots style */

.lots {
  margin: 0 24px 185px;
}

.lots__heading {
  padding-bottom: 23px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 26px;
  list-style-type: none;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
}

.card-link {
  text-decoration: none;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  padding: 52px 40px 49px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 3;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 3;
  color:#fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

/* lots style end */

/* about tyle */
.about {
  display: grid;
  grid-template-columns: 381px 1fr;
  grid-row-gap: 6px;
  align-items: center;
  margin-bottom: 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column:nth-child(1){
  justify-self: center;
}

.about__column:nth-child(3) {
  grid-column-start: 2;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}
/* about style end */

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px;
}

.footer__menu {
  padding-left: 40px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;  
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;  
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list{
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
}
/* footer end */